@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3%;
  background-color: #f0f0f0;
}

@media (min-width: 768px) {
  body {
    padding: 5%;
  }
}
